h1 {
  line-height: 4em;
  font-size: 120%;
  margin: 0;
  padding: 0 1em 0 3.25em;
  background: url(../../assets/logo_round.png) no-repeat 0.75em center;
  background-size: 2em auto;
  box-shadow: 0 6px 6px rgba(0, 0, 0, 0.1);
  z-index: 99;
}